body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(234, 234, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 126, 126, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:40px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:45px;
  width:375px;
  height:16px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:28px;
  width:84px;
  height:25px;
  font-size:20px;
  color:#FFFFFF;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:25px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:28px;
  width:22px;
  height:25px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:28px;
  width:24px;
  height:25px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:28px;
  width:13px;
  height:25px;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:28px;
  width:28px;
  height:25px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:28px;
  width:24px;
  height:25px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:6px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:673px;
  width:107px;
  height:6px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:375px;
  height:40px;
  font-size:16px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:65px;
  width:90px;
  height:30px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:70px;
  width:20px;
  height:20px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:72px;
  width:16px;
  height:16px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:75px;
  width:10px;
  height:10px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:77px;
  width:6px;
  height:6px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:77px;
  width:6px;
  height:6px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:75px;
  width:10px;
  height:10px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:70px;
  width:1px;
  height:20px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:71px;
  width:11px;
  height:19px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:70px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:132px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:127px;
  width:250px;
  height:25px;
}
#u820_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#3C3842;
  text-align:left;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:277px;
  width:25px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:272px;
  width:250px;
  height:25px;
}
#u823_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#3C3842;
  text-align:left;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:325px;
  width:25px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:320px;
  width:250px;
  height:25px;
}
#u826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#3C3842;
  text-align:left;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:180px;
  width:37px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:175px;
  width:250px;
  height:25px;
}
#u829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#3C3842;
  text-align:left;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:229px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3C3842;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:224px;
  width:250px;
  height:25px;
}
#u832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  background-color:#CCCCCC;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#3C3842;
  text-align:left;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:367px;
  width:375px;
  height:40px;
  font-size:16px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:541px;
  width:108px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u835_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:618px;
  width:330px;
  height:40px;
  color:#FFFFFF;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:618px;
  width:330px;
  height:40px;
  color:#FFFFFF;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:326px;
  word-wrap:break-word;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:568px;
  width:101px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u841_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
