body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(234, 234, 232, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:667px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(126, 126, 126, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:375px;
  height:40px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:16px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:45px;
  width:375px;
  height:16px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:28px;
  width:84px;
  height:25px;
  font-size:20px;
  color:#FFFFFF;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:28px;
  width:13px;
  height:25px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:25px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:28px;
  width:28px;
  height:25px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:6px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:673px;
  width:107px;
  height:6px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:59px;
  width:375px;
  height:40px;
  font-size:16px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:64px;
  width:90px;
  height:30px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:69px;
  width:20px;
  height:20px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:71px;
  width:16px;
  height:16px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:74px;
  width:10px;
  height:10px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:76px;
  width:6px;
  height:6px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:76px;
  width:6px;
  height:6px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:74px;
  width:10px;
  height:10px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:69px;
  width:1px;
  height:20px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3C3842;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:388px;
  width:160px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#3C3842;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(152, 152, 152, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:298px;
  width:80px;
  height:80px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:24px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:321px;
  width:50px;
  height:24px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
  color:#FFFFFF;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:71px;
  width:11px;
  height:19px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:70px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
